<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT PAGE</title>
</head>
<body>

<div class="headerlink">

    <a href="/homepage">HOMEPAGE</a> <br><br>
    <a href="/articleslist">ARTICLES</a>

</div>

<div class="basic">
    <p>This news company was established 10 years ago. <br><br>
    Our mission is to report reliable, trustworthy information to the public and make as accesible as possible.
    </p>





</div>

</body>
</html>